# You should not need to edit this file. Instead, use a drop-in file as described in:
#   systemctl edit ldap-proxy.service
#   OR
#   /etc/systemd/system/ldap-proxy.service.d/custom.conf
#
# You *MAY* need to add extra groups to the service to read certificates.
#
# [Service]
# SupplementaryGroups=dehydrated

[Unit]
Description=Kanidm Ldap Proxy Service
After=time-sync.target network-online.target
Wants=time-sync.target network-online.target

[Service]
Type=simple
DynamicUser=yes
ExecStart=/usr/sbin/ldap-proxy -c /etc/ldap-proxy/config.toml

AmbientCapabilities=CAP_NET_BIND_SERVICE
CapabilityBoundingSet=CAP_NET_BIND_SERVICE

NoNewPrivileges=true
PrivateTmp=true
PrivateDevices=true
ProtectHostname=true
ProtectClock=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectKernelLogs=true
ProtectControlGroups=true
MemoryDenyWriteExecute=true

[Install]
WantedBy=multi-user.target


