---
name: Clippy

# Trigger the workflow on push or pull request
"on":
  push:
    branches-ignore:
      - main
  pull_request:

env:
  SCCACHE_GHA_ENABLED: "true"
  RUSTC_WRAPPER: "sccache"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  clippy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup sccache
        uses: mozilla-actions/sccache-action@v0.0.7
        with:
          version: "v0.4.2"
      - name: "Run clippy (ignores errors, this is just a check)"
        run: cargo clippy
        continue-on-error: true
